* {
  box-sizing: border-box;
}

.cardContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  transition: 0.3s;
  background-color: white;
  border-radius: 4px; 
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px;
}


.cardContainer > div {
  margin: 0 1rem 2rem 1rem;
  text-align: center;
}

img {
  display: inline-block;
  max-width: 80%;
  margin: 10%;
}